<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/books/search" method="GET">
    <label for="query">enter search query: </label>
    <input type="text" id="query" name="query">
    <input type="submit" value="search">
  </form>
  </br>
    <div th:if="${found}">
        <div th:each="book : ${found}">
            <a th:href="@{/books/{id}(id=${book.getId()})}"
               th:text="${book.getTitle() + ' by ' + book.getAuthor() + ', ' + book.getYear()}"></a>
            <p>this book is taken by <a th:href="@{/people/{id}(id=${book.getOwner().getId()})}"
                                        th:text="${book.getOwner().getForename() +' ' +book.getOwner().getSurname()}"></a></p>
            <hr/>
        </div>
    </div>
    <div th:if="${found.isEmpty()}">
        <p>book not found</p>
    </div>

</body>
</html>